upstream nodeapp{
        server 192.168.33.11:3000;
        server 192.168.33.12:3000;
}


server {
    listen 80;

    server_name {{ server_name }};

    location / {
        proxy_pass http://nodeapp;
        proxy_set_header X-Forwarded-For $remote_addr;
        proxy_set_header Host $http_host;
    }
}